# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# dotenv environment files
server/.env
.env.*.local
server/config/inflationator-7a83ced9e088.json

# logs
logs
*.log
*.log.*

# === React Native (Mobile) ===
# Android
android/
*.keystore

# iOS
ios/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata
DerivedData/
Pods/
podfile.lock

# Build artifacts
*.apk
*.apks
*.aab
*.ipa
*.app
*.app.dSYM
build/
dist/
*.bundle

# Metro / cache
.expo/
.expo-shared/
babel.config.js
metro.config.js
node_modules/
*.tmp
*.swp

# OS-specific
.DS_Store
Thumbs.db

# === Others ===
# IDEs
.vscode/
.idea/

# Misc
uploads/